In [7]:

#Unit6. 변수(Variable)

In [4]:
6-1. 변수 만들기

SyntaxError: invalid syntax (<ipython-input-4-7fd51fd69dde>, line 1)

In [8]:
lbs_weight = 174.5      # snake 표기법
inchHeignt = 70.0       # camel 표기법

In [9]:
# tuple unpacking
x, y, z = 10, 20, 30

In [10]:
x, y = y, x
x, y

(20, 10)

In [13]:
x += y      # x = x + y
x

40

In [12]:
sum = 0
for i in range(1,101):
    sum = sum + i
sum

5050

In [14]:
input(' 숫자를 입력하세요> ')

'10'

In [26]:
number = int(input('정수를 입력해주세요> '))

In [28]:
number

5

In [34]:
10 + 20, '10' + '20'

(30, '1020')

In [ ]:
정수 두개를 입력으로 받기

In [38]:
s = input('정수 두개 입력>')

In [ ]:
s
'30 40'

In [39]:
a, b = s.split()
a, b, a+b

('10', '20', '1020')

In [40]:
list(map(int, s.split()))
num1, num2

(30, 40)

In [31]:
num1, num2 = map(int, s.split())
num1, num2

(30, 40)

In [41]:
num1 = int(s.split()[0])
num2 = int(s.split()[1])
num1, num2

(10, 20)

In [42]:
n1, n2, n3 = map(int, input('정수 세개 입력>').split())
n1, n2, n3

(30, 40, 50)